/* Temas del segundo período*/

.texto{
   
    font-size: 40px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.principal{
   display: flex;
     
}
body{
    background-image: url("stich.jpeg");
    
   

}
.titulo{
font-size: 60px;
color: black;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.imgQ{
    height: 300px;
    width: 300px;
    background-image: url("distribucionelectronica.png");
float: left;
}
.imgB{
height: 300px;
width: 300px;
background-image: url("externo.jpg");
float: left;
background-repeat: no-repeat;
}
.imgB2{
    height: 300px;
    width: 239px;
    background-image: url("interno.png");
    float: right;
    background-repeat: no-repeat;
    }
    .imgB3{
        height: 300px;
        width: 195px;
        background-image: url("ciclo.jpg");
        float: left;
        background-repeat: no-repeat;
        }
        .imgpaulina{
height: 700px;
width: 754px;
background-image: url(paulina.jpg);
float: left;
background-repeat: no-repeat;
        }
        .imgdulce{
height: 750px;
width: 748px;
background-image: url(dulce.jpg);
float: left;
background-repeat: no-repeat;
        }
